on: 
  workflow_dispatch:
    inputs:
      RELEASE_TYPE:
        required: false
        description: "The type of release to be created, either major, minor or patch"
        options:
          - 'major'
          - 'minor'
          - 'patch'
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  generate_release_type:
    name: "Generate Release Type"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      repository_name: ${{ github.repository }}
    outputs:
      release_type: ${{ steps.generate-release-type.outputs.RELEASE_TYPE }}
    steps:
      - name: Get Merged Branch Name
        id: get-merged-branch-name
        run: |
          echo "Retrieve last merged branch name"
          pullRequestId=$(gh search prs -R $REPOSITORY_NAME --limit 1 --merged --json number | jq '.[0].number')
          branchName="$(gh pr view $pullRequestId -R $REPOSITORY_NAME --json headRefName | jq -r '.headRefName')"
          echo "Branch name is $branchName"
          echo "BRANCH_NAME=$branchName" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY_NAME: ${{ env.repository_name }}
      - name: Generate Release Type
        id: generate-release-type
        run: |
          echo "Determining if release is a major or minor version or patch"
          if [[ ${BRANCH_NAME,,} == *"release"* ]]; then
            releaseType="major"
          elif [[ ${BRANCH_NAME,,} == *"feature"* ]]; then
            releaseType="minor"
          elif [[ ${BRANCH_NAME,,} == *"fix"* ]]; then
            releaseType="patch"
          else
            releaseType="none"
          fi
          echo "Release type is: $releaseType"
          echo "RELEASE_TYPE=$releaseType"" >> "$GITHUB_OUTPUT""
        env:
          BRANCH_NAME: ${{ steps.get-merged-branch-name.outputs.BRANCH_NAME }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  create_release:
    if: ${{ needs.generate_release_type.outputs.release_type != 'none' }}
    needs: ['generate_release_type']
    name: "Create New Release"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      repository_name: ${{ github.repository }}
      release_type: ${{ needs.generate_release_type.outputs.release_type }}
    outputs:
      RELEASE_NUMBER: ${{ steps.release-num-generator.outputs.RELEASE_NUMBER }}
    steps:
      - name: Generate New Release Number
        id: release-num-generator
        run: |
          release="$(gh release list -R ${{ env.repository_name }} -L 1 --json tagName --exclude-pre-releases --exclude-drafts | jq -r '.[0].tagName')"
          echo "Most Recent Release Tag: $release"
          IFS='.'
          read -ra versionNumbers <<< "$release"
          if [[ ${RELEASE_TYPE,,} == "major" ]]; then
            echo "Updating Major Version"
            versionNumber=$((${versionNumbers[0]} + 1))
            releaseNumber="$versionNumber.0.0"
          elif [[ ${RELEASE_TYPE,,} == "minor" ]]; then
            echo "Updating Minor Version"
            versionNumber=$((${versionNumbers[1]} + 1))
            releaseNumber="${versionNumbers[0]}.$versionNumber.0"
          elif [[ ${RELEASE_TYPE,,} == "patch" ]]; then
            echo "Updating Patch Version"
            versionNumber=$((${versionNumbers[2]} + 1))
            releaseNumber="${versionNumbers[0]}.${versionNumbers[1]}.$versionNumber"
          else
            echo "Please enter a version update of Major, Minor or Patch. You Entered $RELEASE_TYPE"
          fi
          echo "New Release Number is $releaseNumber"
          echo "RELEASE_NUMBER=$releaseNumber" >> "$GITHUB_OUTPUT"
        env:
          RELEASE_TYPE: ${{ env.release_type }}
          REPOSITORY_NAME: ${{ env.repository_name }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create New Release
        id: create-release
        run: |
          echo "Creating Release Number $RELEASE_NUMBER for "
          gh release create $RELEASE_NUMBER -R ${{ env.repository_name }} --generate-notes --latest
          echo "Release $RELEASE_NUMBER" has been created
        env:
          RELEASE_NUMBER: ${{ steps.release-num-generator.outputs.RELEASE_NUMBER }}
          REPOSITORY_NAME: ${{ env.repository_name }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}





      
        
