on: 
  workflow_dispatch:
    inputs:
      RELEASE_TYPE:
        required: false
        description: "The type of release to be created, either major, minor or patch"
        options:
          - 'major'
          - 'minor'
          - 'patch'
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  generate_release_type:
    name: "Generate Release Type"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      repository_name: ${{ github.repository }}
    outputs:
      release_type: ${{ steps.generate-release-type.outputs.RELEASE_TYPE }}
    steps:
      - name: Get Merged Branch Name
        id: get-merged-branch-name
        run: |
          echo "Retrieve last merged branch name"
          pullRequestId=$(gh search prs -R $REPOSITORY_NAME --limit 1 --merged --json number | jq '.[0].number')
          branchName="$(gh pr view $pullRequestId -R $REPOSITORY_NAME --json headRefName | jq -r '.headRefName')"
          echo "Branch name is $branchName"
          echo "BRANCH_NAME=$branchName" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY_NAME: ${{ env.repository_name }}
      - name: Generate Release Type
        id: generate-release-type
        run: |
          echo "Determining if release is a major or minor version or patch"
          if [[ ${BRANCH_NAME,,} == *"release"* ]]; then
            releaseType="major"
          elif [[ ${BRANCH_NAME,,} == *"feature"* ]]; then
            releaseType="minor"
          elif [[ ${BRANCH_NAME,,} == *"fix"* ]]; then
            releaseType="patch"
          else
            releaseType="none"
          fi
          echo "Release type is: $releaseType"
          echo "RELEASE_TYPE=$releaseType" >> "$GITHUB_OUTPUT"
        env:
          BRANCH_NAME: ${{ steps.get-merged-branch-name.outputs.BRANCH_NAME }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  create_release:
    needs: ['generate_release_type']
    uses: scankin/github-automation/.github/workflows/create-release.yml@feature/adding-release-workflow
    with:
      repository_name: ${{ github.repository }}
      release_type: ${{ needs.generate_release_type.outputs.release_type }}
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
